body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.hsg {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    padding-top: 5%;
    width: 70%;
}

.top {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.link-button {
    background-image: linear-gradient(orange, tomato);
    padding: 5px 10px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    border-radius: 5px;

}

.middle {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}